@{
    ViewData["Title"] = "Acerca";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Servicio Web para el ingreso de Cotizaciones para UPA</p>
<p>Servicio desarrollado por Grupo LBK</p>
<p>Antofagasta, Chile</p> 
