@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Unidad de Producción Audiovisual<br />
    Universidad Católica del Norte,Antofagasta<br />
    <abbr title="Telefono">F:</abbr>
    (55)123456
</address>

<address>
    <strong>Correo:</strong> <a href="mailto:Support@example.com">upa@ucn.cl</a><br />
    
</address>
